*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
    color: #ccc;
}

nav{
    border-top: solid 1px #ccc;    
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

label{
    line-height: 50px;
    height: 50px; 
    width: 15vw;
    text-align: center;
}
label:hover{
    background-color: #ffffff33;
}


input{
    display: none;
}

article{
    display: none;
}

/* Display the content of the page selected in the nav menu */
#home:checked ~ .pages>article#home-page,
#explore:checked ~ .pages>article#explore-page,
#reels:checked ~ .pages>article#reels-page,
#shop:checked ~ .pages>article#shop-page,
#profile:checked ~ .pages>article#profile-page        {
    display: block;
}
